./cli-todo/target/debug/build/
./cli-todo/target/debug/deps/
./cli-todo/target/debug/examples/
./cli-todo/target/debug/build/

./sgrep/target/debug/deps/
./sgrep/target/debug/examples/
./sgrep/target/debug/incremental/
./sgrep/target/debug/incremental/

./ddu/target/debug/build/
./ddu/target/debug/deps/
./ddu/target/debug/examples/
./ddu/target/debug/incremental/

./hct/target/debug/build/
./hct/target/debug/deps/
./hct/target/debug/examples/
./hct/target/debug/incremental/

./rest-app-server/target/debug/build/
./rest-app-server/target/debug/deps/
./rest-app-server/target/debug/examples/
./rest-app-server/target/debug/incremental/

./test-web/target/debug/build/
./test-web/target/debug/deps/
./test-web/target/debug/examples/
./test-web/target/debug/incremental/

./test-client/target/debug/build/
./test-client/target/debug/deps/
./test-client/target/debug/examples/
./test-client/target/debug/incremental/

./pass-gen/target/.rustc_info.json
